{% extends "blog/base.html" %}
{% block content %}
    <h1 class="mb-3">Followed users: ({{ user.profile.follows.count }})</h1>

    <p>{{ follow_data }}</p>
    {% for obj in object_list %}
    {% if obj.user %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ obj.user.profile.image.url }}" alt="">
        <a href="{% url 'user-posts' obj.user %}">{{ obj.user.profile.user }}</a>
    {% else %}
      <p>You are not following any users</p>
    {% endif %}

    </article>
    {% endfor %}

    <h1 class="mb-3">Users following me: ({{ user.profile.followed_by.count }})</h1>

    {% for obj in following_me %}
    {% if obj.user %}
        <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ obj.user.profile.image.url }}" alt="">
        <a href="{% url 'user-posts' obj.user %}">{{ obj.user }}</a>
      {% else %}
        <p>no users are folowing you</p>
      {% endif %}
      </article>
    {% endfor %}



    {% if is_paginated %}
      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4"href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4"href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}
      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number}}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}
    {% endif %}
{% endblock content %}
